html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #3d4045;
  display: flex;
  align-items: center;
  height: 100vh;
}

input {
  display: none;
}

.slider.wrap {
  width: 50%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  overflow: hidden;
}

.slides {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 400%;
  height: 100%;
}
.slides_img {
  width: 100%;
  display: flex;
  height: auto;
  transition: all 0.5s ease;
}
.p_wrap {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}

.slide {
  width: 25%;
  height: 100%;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s ease;
}

.navigation {
  width: 6em;
  height: 0.9em;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}

.nav_lab {
  display: block;
  margin: 0 auto;
  align-self: center;
  width: 100%;
  height: 100%;
  margin: 5px 5px;
  border-radius: 50%;
  border: 3px solid #fff;
  transition: all 0.4s;
}

.nav_lab:hover {
  background-color: #fff;
  cursor: pointer;
}

p {
  display: block;
  font-family: 'Lobster', cursive;
  color: #fff;
  font-size: 2em;
  width: 25%;
  margin-left: 5px;
}

#c1:checked ~ :where(.slides_img, .p_wrap) {
  transform: translateX(0%);
}
#c2:checked ~ :where(.slides_img, .p_wrap) {
  transform: translateX(-25%);
}
#c3:checked ~ :where(.slides_img, .p_wrap) {
  transform: translateX(-50%);
}
#c4:checked ~ :where(.slides_img, .p_wrap) {
  transform: translateX(-75%);
}

input:checked {
  background-color: #fff;
}

.slider:has(#c1:checked) .lab1 {
  background-color: aquamarine;
}

.slider:has(#c2:checked) .lab2 {
  background-color: aquamarine;
}

.slider:has(#c3:checked) .lab3 {
  background-color: aquamarine;
}

.slider:has(#c4:checked) .lab4 {
  background-color: aquamarine;
}
